<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984852238612-57ldt4ktprgv65lsjja4hm0898sdvkl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984852238612-57ldt4ktprgv65lsjja4hm0898sdvkl5</string>
	<key>API_KEY</key>
	<string>AIzaSyAVC6ohTn1k51HUMhw7SHA_n70JzSw-aD0</string>
	<key>GCM_SENDER_ID</key>
	<string>984852238612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jumpitt.appNotifications</string>
	<key>PROJECT_ID</key>
	<string>testapp-2e743</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-2e743.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984852238612:ios:8614257939f43242</string>
	<key>DATABASE_URL</key>
	<string>https://testapp-2e743.firebaseio.com</string>
</dict>
</plist>