<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85249712897-mseis2hnfqb5lrfrks8imqvqri2qvtvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85249712897-mseis2hnfqb5lrfrks8imqvqri2qvtvs</string>
	<key>API_KEY</key>
	<string>AIzaSyBf4CLniudNt6I31_U1rEUz0f3tHN2AduE</string>
	<key>GCM_SENDER_ID</key>
	<string>85249712897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>trust.appNotifications</string>
	<key>PROJECT_ID</key>
	<string>trust-notifications-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>trust-notifications-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85249712897:ios:7294149da2ea4ba2</string>
	<key>DATABASE_URL</key>
	<string>https://trust-notifications-ios.firebaseio.com</string>
</dict>
</plist>